<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Source Code Pro|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="vendor/font-awesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="vendor/font-awesome/css/solid.min.css">
	<link rel="stylesheet" href="vendor/font-awesome/css/brands.min.css">
	{{ template "_internal/google_analytics.html" . }}
	{{ template "_internal/opengraph.html" . }}
{{ if (fileExists "/static/favicon.png") }}
	<link rel="icon" type="image/png" href="favicon.png" />
{{ end }}
	<title>{{ .Site.Title }}</title>
</head>
<body>
{{ if (fileExists "/static/favicon.png") }}
	<img class="logo" src="/favicon.png" alt="Logo" />
{{ end }}
	<ul class="social-icons">
		{{ if isset .Site.Params "twitter" }}<li><a href="{{ .Site.Params.twitter }}" title="Twitter"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>{{ end }}
		{{ if isset .Site.Params "facebook" }}<li><a href="{{ .Site.Params.facebook }}" title="Facebook"><i aria-hidden="true" class="fab fa-facebook"></i></a></li>{{ end }}
		{{ if isset .Site.Params "instagram" }}<li><a href="{{ .Site.Params.instagram }}" title="Instagram"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>{{ end }}
		{{ if isset .Site.Params "youtube" }}<li><a href="{{ .Site.Params.youtube }}" title="Youtube"><i aria-hidden="true" class="fab fa-youtube"></i></a></li>{{ end }}
		{{ if isset .Site.Params "linkedin" }}<li><a href="{{ .Site.Params.linkedin }}" title="Linkedin"><i aria-hidden="true" class="fab fa-linkedin"></i></a></li>{{ end }}
		{{ if isset .Site.Params "gitlab" }}<li><a href="{{ .Site.Params.gitlab }}" title="GitLab"><i aria-hidden="true" class="fab fa-gitlab"></i></a></li>{{ end }}
		{{ if isset .Site.Params "discord" }}<li><a href="{{ .Site.Params.discord }}" title="Discord"><i aria-hidden="true" class="fab fa-discord"></i></a></li>{{ end }}
	</ul>
	{{ block "main" . }}
	{{ end }}
	<h1>{{ .Site.Title }}</h1>
	<p>{{ .Site.Params.tagline | markdownify }}</p>
	<!-- 	{{ if isset .Site.Params "mailchimpurl" }}{{ partial "mailchimp-signup" . }}{{ end }} -->
	<!--TODO -- search doesn't work 	{{partial "search" .}} -->
	<div id="benefits">
		{{ range where .Site.Pages "Section" "benefits" }}
		{{ if in .Path ".md" }}
			<div>
				<h2><i class="fas {{ .Params.icon }}"></i>{{ .Title }}</h2>
				{{ .Content }}
			</div>
		{{ end }}
	{{ end }}
	</div>
	<div>
    {{ with .Site.GetPage "/footer" }}
      {{ .Content }}
    {{ end }}
	</div>
</body>
</html>
